<div class="box top">

  <div #parallax1 class="parallax-container">
    <h5 class="header center white-text text-lighten-2" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">Юридические услуги в Москве и области</h5>
    <div class="row center">
      <h5 class="header col s12 white-text text-lighten-2" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">Доверьте свое дело професионалам</h5>
    </div>
    <div class="row center white-text text-lighten-2" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">
      +7 (925) 492-78-15 &nbsp;<a href="tel:+79254927815 " class="btn-floating waves-effect"><i
          class="material-icons">call</i></a>
    </div>
    <div class="row center white-text text-lighten-2" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">
      +7 (499) 397-75-13 &nbsp;<a href="tel:+74993977513" class="btn-floating waves-effect"><i
          class="material-icons">call</i></a>
        </div>
      <div class="parallax" ><img src="assets/background1.jpg"></div>
      <div class="section no-pad-bot">
        <div class="container clearfix">
          <br><br>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">chat</i></h2>
            <h5 class="center">Бесплатная консультация</h5>

            <p class="light">Задайте свой вопрос нашим юристам и мы бесплатно на него ответим. Ответ придет по
              электронной
              почте или мы вам перезвоним</p>
          </div>
          <div class="center">
            <button type="submit" class="modal-action btn waves-effect z-depth-3"  (click)="onSubmitQuestion()">Задать вопрос
            </button>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">person</i></h2>
            <h5 class="center">Услуги физическим лицам</h5>

            <p class="light">Напишем иск, претензию, жалобу, возражения, представим ваши интересы в суде или проведем
              переговоры</p>
          </div>
          <div class="center">
            <button type="submit" class="modal-action btn waves-effect z-depth-3" (click)="onSubmitFL()">Перечень услуг
            </button>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">people</i></h2>
            <h5 class="center">Услуги юридическим лицам</h5>

            <p class="light">Проведем переговоры, напишем иск, жалобу, претензию, составим договор, защитим в суде или
              перед контролирующими органами.</p>
          </div>
          <div class="center">
            <button type="submit" class="modal-action btn waves-effect z-depth-3" (click)="onSubmitUL()">Перечень услуг
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div #parallax2 class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">С нашими юристами вы успешно проведете переговоры</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background2.jpg"> </div>
  </div>


    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5>Свяжитесь с нами</h5>
          <p class="left-align light">Если у вас есть проблема, но вы затрудняетесь
            в выборе способа решения - обращайтесь к нам и вы получите бесплатную юридическую консультацию по телефону.
            <br>Позвоните нам прямо сейчас и мы ответим на ваши вопросы. +7 499 3977513.
          </p>
          <a href="tel:+74993977513" class="btn-floating pulse"><i class="material-icons">call</i></a>
        </div>
      </div>

    </div>



  <div #parallax3 class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">Ведем судебные дела на любой стадии: от мирового суда до ЕСПЧ</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background3.jpg"></div>
  </div>




  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h5>Бесплатная консультация</h5>
        <p class="left-align light">Задайте нам вопрос и бесплатно получите юридическую консультацию. Мы не будем вам навязывать свои услуги. Мы честно расскажем вам о перспективах вашего дела. Решение будете принимать вы самостоятельно.
        </p>
        <button type="submit" class="modal-action btn waves-effect z-depth-3"  (click)="onSubmitQuestion()">Задать вопрос
        </button>
      </div>
    </div>

  </div>



<div #parallax4 class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" [ngStyle]="{'text-shadow': '1px 1px 1px black'}">Мы выигрываем 90% судебных дел</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background4.jpg"></div>
</div>
