<ng-container *ngIf="!isEditing && !isAdding">
  <div *ngIf="!isLoading; else loader" class="row" >
    <h5 class="center teal-text">Контракты с клиентами</h5>

    <h5 class="teal-text">Фильтр</h5>
    <button (click)="onFilterClick()" class="btn btn-small"
    [ngClass]="{'active': isFilterVisible, 'red': isFiltered()}"
      data-tooltip="Открыть фильтр" data-position="left" #tooltip>
      <i class="material-icons">filter_list</i>
    </button>

    <app-query-filter (onFilter)="applyFilter($event)" [chLink]=links
    *ngIf="isFilterVisible"></app-query-filter>


    <table *ngIf="contracts.length !==0; else empty" class="responsive-table centered">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Имя</th>
          <th>Сумма контракта</th>
          <th>Долг</th>
          <th>Статус</th>
          <th>Завершено</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contract of contracts">
          <td>{{contract.date | date}}</td>
          <td>{{contract.name}}</td>
          <td [ngStyle]="{'color': 'blue'}">{{contract.contractSum}}</td>
          <td [ngStyle]="{'color': 'green'}">{{contract.debt}}</td>
          <td>{{contract.status}}</td>
          <td> <i *ngIf="!!contract.done" class="material-icons teal-text text-lighten-2">done</i>
            <i *ngIf="!contract.done" class="material-icons grey-text">remove</i>
            </td>
          <td><i class="material-icons pointer" (click)="edit(contract)">edit</i></td>
        </tr>
      </tbody>
    </table>

    <div class="center" [hidden]="noMoreItems">
      <button  type="button" (click)="loadMore()"
        class="modal-action btn waves-effect waves-light center">Еще ...</button>
    </div>

    <!-- float btn -->
    <div class="fixed-action-btn" #floatBtn>
      <a class="btn-floating btn-large pulse red">
        <i (click) = "addContract()" class="large material-icons">add</i>
      </a>
    </div>

    <ng-template #empty>
      <div class="center">
        Активных контрактов нет
      </div>
    </ng-template>

  </div>
  </ng-container>


  <!-- edit form -->
<div [hidden]="!isEditing && !isAdding" class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <H4 *ngIf="isEditing">Редактирование</H4>
      <H4 *ngIf="isAdding">Добавление нового контракта</H4>
      <div class="col s12">
        <div class="row">
          <div class="col s5"><span>Дата</span>
            <input #dateP1 formControlName="date" type="date" [value]="form.get('date').value | date:'dd/MM/yyyy' ">
          </div>
          <div class="col s5"><span>Имя</span>
            <input formControlName="name" type="text"
              [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
          </div>

          <div class="col s5"><span>Телефон</span>
            <input formControlName="phone" type="tel"
              [ngClass]="{'invalid': form.get('phone').invalid && form.get('phone').touched}">
          </div>

          <div class="col s5"> <span>Email</span>
            <input formControlName="email" type="email">
          </div>
          <div class="col s5"><span>Описание</span>
            <input formControlName="contractDescription" type="text"
              [ngClass]="{'invalid': form.get('contractDescription').invalid && form.get('contractDescription').touched}">
          </div>

        <div class="col s5"><span>Сумма контракта</span>
          <input formControlName="contractSum" type="number"
            [ngClass]="{'invalid': form.get('contractSum').invalid && form.get('contractSum').touched}">
        </div>

    </div>

        <div class="row">
          <div class="input-field col s5"> <span>Статус</span>
            <select #formSelect class="custom-select" formControlName="status" type="select">
              <option *ngFor="let link of links" [value]="link">{{link}}</option>
            </select>
          </div>
          <table>
            <thead>
              <tr>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Вид оплаты</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pay of payments">
                <td>{{pay.date | date}}</td>
                <td>{{pay.sum}}</td>
                <td>{{pay.paymentType}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="input-field">
        <button  type="button" (click)="addPayment()"
          class="modal-action btn waves-effect waves-light">Добавить платеж</button>
        </div>
        <div class="input-field">
          <p class="mb1">Комментарий</p>
          <textarea formControlName="comments" id="pos-name" type="text" required style="padding-bottom:100px"
            [ngClass]="{'invalid': form.get('comments').invalid && form.get('comments').touched}"></textarea>
        </div>

      </div>

      <div class="modal-footer">
        <button [disabled]="form.disabled" type="button" (click)="onCancel()"
          class="modal-action btn waves-effect waves-light">Закрыть</button>
        <button *ngIf="isEditing" [disabled]="form.invalid || form.disabled" class="modal-action btn waves-effect waves-light"
          type="submit">Сохранить</button>
          <button *ngIf="isAdding" [disabled]="form.invalid || form.disabled" class="modal-action btn waves-effect waves-light"
          type="submit">Добавить контракт</button>
      </div>

    </div>
  </form>
</div>


<!-- add payment -->
  <form [formGroup]="formPayment" (ngSubmit)="onSubmitPayment()">
    <div #modal class="modal">
      <div class="modal-content">
      <H4>Добавление нового платежа</H4>
          <div class="input-field"><span>Дата</span>
            <input #dateP2 formControlName="date" type="date" [value]="formPayment.get('date').value | date:'dd/MM/yyyy' ">
          </div>
          <div class="input-field"><span>Сумма</span>
            <input formControlName="sum" type="number"
              [ngClass]="{'invalid': formPayment.get('sum').invalid && formPayment.get('sum').touched}">
          </div>
          <div class="input-field"><span>Вид платежа</span>
          <select #formSelectPayment class="custom-select" formControlName="paymentType" type="select">
            <option *ngFor="let pay of paymentType" [value]="pay">{{pay}}</option>
          </select>
        </div>
    </div>


      <div class="modal-footer">
        <button [disabled]="formPayment.disabled" type="button" (click)="onCancelPayment()"
          class="modal-action btn waves-effect waves-light">Закрыть</button>
        <button [disabled]="formPayment.invalid || formPayment.disabled" class="modal-action btn waves-effect waves-light"
          type="submit">Добавить платеж</button>
      </div>
    </div>
  </form>


  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
