span {
  color: teal;
  font: bold;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  background: white;
  max-width: 90%;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: teal;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color:black;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  background-color: lightseagreen;
  color: whitesmoke;}

  textarea {
    width: 80%; /* Ширина поля в процентах */
    height: 50px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
    overflow: hidden;
  }

  textarea:focus {
    outline: none !important;
    border: 2px solid  teal;
    width: 80%;
}
.invalid {
  border-bottom: 3px solid darkred;
}



