<div class="container">
  <H5 class="center teal-text">Наши цены</H5>
  <div class="boxShadow">
  <table class="striped">
    <thead>
      <tr>
        <th>Услуга</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Консультация физического лица (1 час)</td>
        <td>3 000 рублей.</td>
      </tr>
      <tr>
        <td>Консультация юридического лица (1 час)</td>
        <td>5 000 рублей.</td>
      </tr>
      <tr>
        <td>Составление договора(соглашения)</td>
        <td>от 5 000 рублей.</td>
      </tr>
      <tr>
        <td>Написание искового заявления (возражения) в суд общей юрисдикции</td>
        <td>от 10 000 рублей.</td>
      </tr>
      <tr>
        <td>Написание искового заявления (отзыва) в арбитражный суд</td>
        <td>от 15 000 рублей.</td>
      </tr>
      <tr>
        <td>Написание апелляционной, кассационной жалобы</td>
        <td>от 15 000 рублей.</td>
      </tr>
      <tr>
        <td>Участие в одном судебном заседании</td>
        <td>от 8 000 рублей.</td>
      </tr>
      <tr>
        <td>Написание заявления, ходатайства</td>
        <td>от 3 000 рублей.</td>
      </tr>
      <tr>
        <td>Ведение дела "под ключ" в суде общей юрисдикции</td>
        <td>от 30 000 рублей.</td>
      </tr>
      <tr>
        <td>Ведение дела "под ключ" в арбитражном суде</td>
        <td>от 50 000 рублей.</td>
      </tr>
      <tr>
        <td>Ведение дела в апелляционной, кассационной инстанции</td>
        <td>от 35 000 рублей.</td>
      </tr>
      <tr>
        <td>Ведение банкротства физического лица</td>
        <td>от 40 000 рублей.</td>
      </tr>
      <tr>
        <td>Ведение банкротства юридического лица</td>
        <td>от 80 000 рублей.</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
