<div class="container">
  <H5 class="center teal-text">Наши реквизиты</H5>
  <div class="boxShadow">
  <table class="striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Наименование</td>
        <td>Общество с ограниченной ответственностью "Гарант Консалтинг"</td>
      </tr>
      <tr>
        <td>Дата регистрации</td>
        <td>4 июля 2012 г.</td>
      </tr>
      <tr>
        <td>ОГРН</td>
        <td>1127746516336</td>
      </tr>
      <tr>
        <td>ИНН</td>
        <td>7728812441</td>
      </tr>
      <tr>
        <td>КПП</td>
        <td>772801001</td>
      </tr>
      <tr>
        <td>Юридический адрес</td>
        <td>117593, город Москва, улица Айвазовского, 3 стр.1, офис 1</td>
      </tr>
      <tr>
        <td>Расчетный счет</td>
        <td>40702810238000239064</td>
      </tr>
      <tr>
        <td>Наименование банка</td>
        <td>ПАО Сбербанк г. Москва</td>
      </tr>
      <tr>
        <td>БИК</td>
        <td>044525225</td>
      </tr>
      <tr>
        <td>Корр. счет</td>
        <td>30101810400000000225</td>
      </tr>
      <tr>
        <td>Электронная почта</td>
        <td>lawyer@garantk.ru</td>
      </tr>
      <tr>
        <td>Телефоны</td>
        <td>+7 (499) 397-75-13, +7 (925) 492-78-15</td>
      </tr>
      <tr>
        <td>WhatsApp</td>
        <td>+7 (925) 492-78-15</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
